@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    background-color: #13141b;
    --text-color1: #ffffff;
    --text-color2: #eeeef1;
    --text-color3: #13141b;
    --text-color4: #e3e4e8;
    --text-color5: #9499ad;
    --background-color1: #13141b;
    --background-color2: #f6f6f8;
    --background-color3: #252837;
    --background-color4: #1b1d27;
    --border-color: #1d1e2a;
    font-family: 'Inter', system-ui, 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background-color1);
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: var(--border-color) 0.5px solid;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    margin-left: -2rem;
}

ul {
    display: flex; 
    align-items: center;
}

li {
    list-style-type: none;
}

.nav-el {
    border-radius: 0.25rem;
    transition: background-color .1s ease-in;
    cursor: pointer;
}

.nav-el:hover {
  background-color: var(--background-color3);
}

.nav-el, .login, .contact-sales {
    color: var(--text-color2);
    padding: .5rem .8rem;
    font-size: 13px;
    font-weight: 600;
}

.login {
    transition: background-color .1s ease-in;
    border-radius: 0.25rem;
}

.login:hover {
    background-color: var(--background-color3);
}

.button {
    background-color: var(--background-color1);
    border: none;
    font-family: 'Inter', system-ui, 'Avenir', Helvetica, Arial, sans-serif;
    white-space: nowrap;
}

.link {
    text-decoration: none;
}

.contact-sales {
    border: 1px #eeeef1 solid;
    border-radius: 0.25rem;
    margin: 0 .5rem;

}

.get-started {
    background-color: var(--background-color2);
    color: var(--text-color3);
    padding: .5rem 1rem;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0.25rem;
}

/* MAIN */

.section1 {
    display: grid;
    grid-template-columns: 40rem auto;
    column-gap: .5rem;
    margin-top: 3rem;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.2rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.text {
    display: flex;
    flex-direction: column;
}

.heading1, .p1 {
    color: var(--text-color1);
}

.heading1 {
    font-size: 4.5rem;
    font-weight: 425;
    line-height: 1.1;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
}

.p1 {
    font-size: 1.5rem;
}

.start-links {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.start-building {
    background-color: var(--background-color2);
    color: var(--text-color3);
    padding: .8rem 1.5rem;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.book-demo {
    background-color: var(--background-color4);
    color: var(--text-color2);
    padding: .8rem 1.5rem;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color .1s ease-in;
}

.book-demo:hover {
    background-color: var(--background-color3);
}

.copy-button {
    display: inline-flex;
    justify-content: start;
    color: var(--text-color4);
    padding: .8rem 1.5rem;
    border: 1px var(--background-color3) solid;
    width: fit-content;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    transition: background-color .1s ease-in;
    cursor: pointer;
}

.copy-button:hover {
    background-color: var(--background-color3);
}

.copy {
    padding-left: .7rem;
}

.pic {
    object-fit: contain;
    width: 800px;
    height: auto;
    position: relative;
    top: 3.5rem;
    right: 3.5rem;
}

.trusted-by {
    display: flex;
    justify-content: flex-start;
    gap: .8rem;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.trusted-by-text {
    display: flex;
    justify-content: flex-start;
    color: var(--text-color5);
    font-size: .8rem;
    font-weight: 450;
    line-height: calc(12 / 9);
    letter-spacing: .01rem;
    white-space: nowrap;
}

.line {
    display: flex;
    border-bottom: 1px #252837 solid;
    width: 54rem;
    height: .005rem;
}

.companies-logos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    gap: .5rem;
    padding-left: 1.5rem;
}


@media screen and (max-width: 960px) {

}